.*.swp
.*~
*.sublime-project
*.sublime-workspace
db/*
!db/.htaccess
wurzeldev.sublime-workspace
wurzeldev.sublime-project
config.php
uploads/*
!uploads/.htaccess
themes/*
!themes/.htaccess
config.codekit