.*.swp
.*~
*.sublime-project
*.sublime-workspace
db/*
!db/.htaccess
wurzeldev.sublime-workspace
wurzeldev.sublime-project
config.php
uploads/images/*
uploads/thumbs/*
!uploads/images/.htaccess
!uploads/thumbs/.htaccess
themes/*
!themes/README.md
!themes/default
config.codekit
login/node_modules
