/***************************
*
* CSS File für die Website
*
**************************/

	
/* =Layout
-----------------------------------------------------------------------------*/
* { padding: 0; margin: 0; }
html { font-size: 62.5%; }
html, body, #mother { height: 100%; min-height: 100%; }

body {
  color: #333;
  font-family: Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  min-width: 890px;
  background: #666;
  font-size: 1.4em;
}
#mother {
  position:relative; /* needed for footer positioning*/
  margin: 0px auto 0px auto;
  width: 890px;
  clear: both;
}

/* =Header
-----------------------------------------------------------------------------*/
#head {
  margin: 0px;
  height: 100px;
  padding: 0px 20px;
  line-height: 100px;
  width: 100%;
  background: #fff;
  z-index: 3;
}

/* =Nav
-----------------------------------------------------------------------------*/
#menu {
  width: 160px;
  float: left;
  padding: 20px;
  background: #ddd;
}
ul#menu_list li {
  margin-bottom: 5px;
}

/* =Content
-----------------------------------------------------------------------------*/
#content {
  z-index: 1;
  /*height: calc(100% - 100px);
  height: -moz-calc(100% - 100px);
  height: -webkit-calc(100% - 100px);*/
  height: 100%;
  background: #eee;
  width: 500px;
  margin: 0px 0px 0px 200px;
  overflow: hidden;
}
#content p {
  margin-bottom: 20px;
  line-height: 1.5em;
}
#content img {
  max-width: 450px;
}

/* =Custom Scroll
-----------------------------------------------------------------------------*/

#content .viewport { width: 500px; height: 100%; overflow: auto; position: relative; }
#content .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 10px 30px 100px 20px; }
#content .thumb .end,
#content .thumb { background-color: #003D5D; }
#content .scrollbar { position: relative; float: right; width: 15px; }
#content .track { background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; }
#content .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#content .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#content .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }


/* =Footer
-----------------------------------------------------------------------------*/
