/* ==========================================================================
   FOOTER
   ========================================================================== */

#footer {
    clear: both;
    text-align: center; 
    padding:10px;
}