.box {
    margin: 200px auto;
    width: 200px;
    border-radius: 5px;
    padding-top: 10px;
    padding-top: 15px;
    background: #eee;
    color: #111;
    box-shadow: 0px 0px 550px rgba(255, 255, 255, 0.5);
    text-shadow: 0px 1px 0px #fff;
    text-align: center;
}

.box span img {
    margin-bottom: -3px;
}

#logo {
    bottom: -1px;
    position: relative;
}

span#footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #e2e2e2;
    border-top: 1px solid #bbb;
    padding: 0px 3px;
    margin: 10px 0px 0px 0px;
    display: block;
    text-align: center;
    font-size: 0.8em;
    height: 25px;
    line-height: 25px;
}