/************
 * 
 *
 * POPUP.CSS
 *
 *
 ************/

.popupoverflow {
  display: none;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  background: transparent;
  background: rgba(30, 30, 30, 0.8);
  z-index: 99999;
}
.popupoverflow:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.popupoverflow .popup {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  text-align: left;
  border-radius: 5px;
  position: relative;
  color: #000;
  max-width: 800px;
}
.closepopup {
  float: right;
  padding: 5px 3px;
  margin-top: -38px;
  border-radius: 20px;
}
.popuplistlabel {
  display: inline-block !important;
  margin-left: 5px;
}